{% extends 'layout.twig' %}
{% import 'form.twig' as form %}
{% block head %}
	<title>Add a post</title>
{% endblock %}

{% block content %}
    <h1>Add a post</h1><br>

<form action="" method="post">
	{{ form.input('title', 'Title')  }}
        {{ form.textarea('callToRead', 'Call to read', 03) }}
	{{ form.input('author', 'Author') }}
	{{ form.textarea('content', 'Content', 30) }}
        {{ form.file('image', 'Select a featured image')}}
        <div class="form-group"><br>
		<button type="submit" class="btn btn-success">Publish the post</button>
	</div>
</form>
        
{% endblock %}