{% extends 'layout.twig' %}

{% block head %}
	<title>Blog</title>
{% endblock %}

{% block content %}
           <h1>All articles</h1>
            <blockquote>
              <p>A fun reading is as helpful to health as exercising to the body.</p>
              <footer>Emmanuel Kant <cite title="Source Title">Artist, writer, Philosopher (1724 - 1804)</cite></footer>
            </blockquote>
            <hr>
                    {% for article in listArticles %}
                        <div class="col-sm-12 col-md-12">
                          <div class="thumbnail">
                              <a href="index.php?p=single&id={{article.id}}"><img class="img-responsive" src="{{ article.featuredImg }}" style="height: 350px;width: 100%; object-fit: cover;" alt="..."></a>
                            <div class="caption">
                                <a style="text-decoration:none; color:inherit;"href="index.php?p=single&id={{article.id}}"><h3 class="card-title">{{ article.title }}</h3></a>
                              <p class="lead">By <em>{{ article.author }}</em></p>
                              <p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.date | date("d/m/Y H:i") }}<p>
                              <p>{{ article.callToRead}}</p>
                              <p><a href="index.php?p=single&id={{article.id}}" class="btn btn-primary" role="button">Read this post</a></p>
                            </div>
                          </div>
                        </div>
                    {% endfor %}

{% endblock %}

