{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block head %}
	<title>Edit post</title>
{% endblock %}

{% block content %}
{% for editThisPost in editPost %}
    
    <h1>Edit post</h1><br>

<form action="update()" method="post">
	{{ form.input('title', 'Title', editThisPost.title )  }}
        {{ form.textarea('callToRead', 'Call to read', 03, editThisPost.callToRead) }}
	{{ form.input('author', 'Author', editThisPost.author) }}
        {{ form.textarea('content', 'Content', 30, editThisPost.content) }}
        {{ form.file('image', 'Sekect a featured image', editThisPost.featuredImg)}}
        <div class="form-group"><br>
		<button type="submit" class="btn btn-info">Update this post</button>
	</div>
</form>
{% endfor %}
{% endblock %}
