{% macro input(name, label, value) %}
	<div class="form-group">
		<label for="{{ name }}">{{ label }}</label>
		<input type="text" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value|e }}">
	</div>
{% endmacro %}}

{% macro textarea(name, label, rows, value) %}
	<div class="form-group">
		<label for="{{ name }}">{{ label }}</label>
		<textarea type="text" class="form-control" rows="{{ rows|default(40) }}" id="{{ name }}" name="{{ name }}">{{ value|e }}</textarea>
	</div>
                
{% endmacro %}}

{% macro file(name, label, value) %}
	<div class="form-group">
		<label for="{{ name }}">{{ label }}</label>
		<input type="file" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value|e }}">
	</div>
                
{% endmacro %}}
