{% extends 'layout.twig' %}
{% block content %}
	{% for particularArticles in particularArticle %}
	<title>{{ particularArticles.title }}</title>
        <div class="container">
            <div class="row">
                <h2>{{ particularArticles.title}}</h2>
                <p class="lead">By <em>{{ particularArticles.author }}</em></p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ particularArticles.date | date("d/m/Y H:i") }}</p>
                <hr>
                <img class="img-responsive" src="{{ particularArticles.featuredImg }}" style="height: 350px;width: 100%; object-fit: cover;" alt="...">
                <hr>
                <p class="lead">{{ particularArticles.callToRead }}</p>
                    <p>{{ particularArticles.content }}</p>
            </div>
        </div>
            
	{% endfor %}
{% endblock %}