{% extends 'layout.twig' %}
{% block content %}
	{% for thisSinglePost in singlePost %}
	<title>{{ thisSinglePost.title }}</title>
        <div class="container">
            <div class="row">
                <h2>{{ thisSinglePost.title}}</h2>
                <p class="lead">By <em class="author">{{ thisSinglePost.author }}</em></p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ thisSinglePost.date | date("d/m/Y \\a\\t H:i") }}</p>
                <hr>
                <img class="img-responsive" src="{{ thisSinglePost.featuredImg }}" style="height: 350px;width: 100%; object-fit: cover;" alt="...">
                <hr>
                <p class="lead header">{{ thisSinglePost.header }}</p>
                    <p>{{ thisSinglePost.content }}</p>
                    <a style="margin-top:50px; margin-bottom:50px;"href="index.php?p=editpost&id={{thisSinglePost.id}}" class="btn btn-info" role="button">Edit this post</a>
            </div>
            
        </div>
            
            
	{% endfor %}
{% endblock %}